*{
    font-family: Microsoft YaHei,Verdana,Arial,SimSun;
}
body{
    overflow: hidden;
}
.video-background video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    /*加滤镜*/
    /*-webkit-filter: grayscale(100%);*/
    /*filter:grayscale(100%);*/
}
.video-background source{
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
}

.login-layout{
    width: 100%;
    background-color:transparent;
    position:fixed;
    top: 0;
    bottom: 0;
}
.login-layout .login-header{
    width: 100%;
    height: 72px;
    background-color:#52b7ed;/*b90628;*//*#52b7ed*/
    opacity: 0.5;
}

.login-layout .login-header h1{
    margin-left: 183px;
    height: 72px;
    line-height: 72px;
}

.login-content .login-content-left {
	float: left;
    width: 50%;
	border-right: 1px dotted #b90628;
	margin-top: 30px;
	padding-bottom: 100px;
}
.login-content {
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
	height: auto;
	clear: both;
}

.login-content .login-content-left h3 {
	width: 70%;
	border-bottom: 2px solid #b90628;
	padding: 0 10%;
	font-family: 600;
}
.login-content .login-content-left .layui-tab-item .layui-form-item {
	width: 70%;
}
.login-content .login-content-left .layui-tab-item .layui-form-item:first-child{
	margin-top: 10px;
}
.login-content .login-content-left .layui-tab-item .layui-form-item button{
	width: 100%;
}

.login-content .login-content-left a.register{
	margin-left: 35px;
}
.login-content .login-content-left h3 span {
	display: inline-block;
	width: 6.5em;
	font-size: 18px;
	color: #b90628;
	line-height: 50px;
	border-bottom: 4px solid #666;
	margin-bottom: -2px;
	font-family: 600;
	text-align: center;
}

.login-content .login-content-right {
	float: right;
	width: 45%;
	margin-top: 30px;
}

.login-content-right p, .login-content-right ul li {
	width: 100%;
	padding: 10px 0;
	border-bottom: 1px dotted #ccc;
	font-size: 14px;
	color: #666;
}
.login-content-right .agreement {
	margin-top: 10px;
	border: none;
}

.login-content-right img {
	margin: 10px auto;
	width: 150px;
}
a {
	text-decoration: none;
}
.login-content-right p a {
	color: #52b7ed;
}
.login-content-right ul li {
	border: none;
	list-style: none;
}
.login-content-right p input, .login-content-right ul li input {
	margin-right: 10px;
}
.login-content-right p input, .login-content-right ul li input[disabled]{
	cursor: not-allowed;
}

.login-content-left .layui-tab{
	border: none;
	border-width: 0;
	margin-right: 50px;
	opacity: 0.6;
}