<div class="home-layout layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="home-header layui-header">
            <div class="layui-logo">
                <a href="/admin">一元化控制中心</a></div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item">
                    <a href="javascript:void(0);">平台管理</a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="">账号管理</a>
                        </dd>
                        <dd>
                            <a href="">应用管理</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:void(0);">企业门户</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:void(0);">我的应用</a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="">企业工作台</a>
                        </dd>
                        <dd>
                            <a href="">MP 2.2</a>
                        </dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img"> 匿了
                    </a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="">基本资料</a>
                        </dd>
                        <dd>
                            <a href="">安全设置</a>
                        </dd>
                        <dd>
                            <a href="/">注销</a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div class="footer-bg"></div>
            <div class="tab-wrapper">
                <div class="layui-tab layui-tab-card" lay-allowClose="true">
                <div class="layui-tab-content">
                        <div class="layui-tab-item layui-show">
                            <iframe  src="/admin/users" frameborder="0" onerror="return false;"></iframe>
                            <!-- <iframe  src="http://www.baidu.com" frameborder="0" onerror="return false;"></iframe> -->
                        </div>
                    </div>
                    <ul class="layui-tab-title">
                        <li class="layui-this">账号管理</li>
                    </ul>
                </div>    
            </div>
        </div>
    </div>
</div>