<!-- <div class="video-background">
        <video loop muted="muted" oncanplaythrough="play()" class="fillWidth" poster="../resource/imgs/login-bg.jpg?v={{config.system.version}}">
            <source src="../resource/video/video.mp4?v={{config.system.version}}" type="video/mp4"/>
        </video>
</div> -->
<canvas class="canvas-background"></canvas>
<div class="login-layout">
    <div class="login-header">
        <h1>联友一元化认证中心</h1>
    </div>
    <div class="login-content">
        <div class="login-content-left">
                  <div class="layui-tab layui-tab-brief">
                      <ul class="layui-tab-title">
                        <li class="layui-this">密码登录</li>
                        <li>快捷登录</li>
                      </ul>
                      <div class="layui-tab-content">
                        <div class="layui-tab-item layui-show">
                            <div class="layui-form-item">
                                <input type="text" name="loginid" required lay-verify="required" placeholder="联友账号/邮箱/手机号" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-item">
                                <input type="password" name="loginpsw" required lay-verify="required" placeholder="密码" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-item">
                                <button class="layui-btn layui-btn-primary ly-ui-bg-red">登录</button>
                            </div>
                        </div>
                        <div class="layui-tab-item">
                            <div class="layui-form-item">
                                <input type="text" name="logintel" required lay-verify="required" placeholder="手机号" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-item">
                                <input type="password" name="logincode" required lay-verify="required" placeholder="动态码" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-item">
                                <button class="layui-btn layui-btn-primary ly-ui-bg-red">登录</button>
                            </div>
                        </div>
                      </div>
                    </div>
                    
        </div>
        <div class="login-content-right">
                <p>用一元化账号流畅地访问您不同的业务系统</p>
                <p><a href="javascript:void(0)">业务系统</a>将获得以下权限</p>
                <p><input disabled="disabled" type="checkbox" checked="checked">全选</p>
                <ul>
                    <li><input disabled="disabled" type="checkbox" checked="checked">获得您的联友账号ID</li>
                    <li><input disabled="disabled" type="checkbox" checked="checked">读取您的头像、性别、手机号码、邮箱等基本信息</li>
                    <li><input type="checkbox" class="isRedirect">本次登录后不跳转到业务系统</li>
                </ul>
                <p class="agreement">注册账号后表明你已同意<a href="#">联友一元化账号认证协议</a></p>
        </div>
        
    </div>
</div>