html,body{
    height: 100%;
    width: 100%;
}
.ly-icon-input{
    position: relative;
}
.ly-icon-input>i,
.ly-icon-input>span
{
    left: 10px; 
    top: 12px; 
    position: absolute;
}

.ly-icon-input>input{
    padding-left: 35px;
}
.ly-fn-fill-with-parent{
    width: 100%;
}