.home-layout{
    min-width: 1024px;
    height: 100%;
}
.home-layout .layui-body{
    left:0;
}
.home-layout .layui-logo,
.home-layout .layui-logo a
{
    color:white;
}
.home-layout .layui-header{
    background-color:#a8daf6;
}

.home-layout .layui-nav .layui-this:after,
.home-layout .layui-nav-bar,
.home-layout .layui-nav-tree .layui-nav-itemed:after{
    background-color:#b90628;
}