<div class="desk-layout layui-layout-body ly-home-like-layout">
    <div class="layui-layout layui-layout-admin">
        <div class="desk-header layui-header">
            <div class="layui-logo">
                <a href="/admin">一元化工作台</a></div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item">
                    <a href="javascript:void(0);">工作台管理</a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="">添加功能</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:void(0);">企业门户</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:void(0);">我的应用</a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="">企业工作台</a>
                        </dd>
                        <dd>
                            <a href="">MP 2.2</a>
                        </dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img"> 匿了
                    </a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="">基本资料</a>
                        </dd>
                        <dd>
                            <a href="">安全设置</a>
                        </dd>
                        <dd>
                            <a href="/">注销</a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="layui-body">
            <!-- 内容主体区域 -->
            内容主体区域
        </div>
    </div>
</div>